@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

footer{
    padding: 4px;
    background-color: black;
    color: white;
    text-align: center;
}

#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img2{
    background-image: url('../imagens/background002.jpg');
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: burlywood;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.452);
}

.imagem > p{
    width: fit-content;
    padding: 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0.384);
}